/* @author: Violet(Yafan) Zeng */
h3 {
  margin: 5px;
  margin-left: 5px;
  margin-top:10px;
  font-size: 18px;
}
.search-text-p {
  margin: 0px;
  margin-left: 5px;
  margin-top:10px;
  padding: 0;
}

#loading-sign {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
}
#loading-sign img {
  width: 200px; /* Adjust the width as per your requirement */
  height: 132px; /* Adjust the height as per your requirement */
}

#container {
  border-radius: 2px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  border: 2px solid #1a73e8;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 60%;
  margin: 0 auto; /* Add this line to center the container horizontally */
}

#control-panel {
  position: relative; /* Change from absolute to relative positioning */
  background-color: #fff;
  width: 100%;
  height: auto;
  border: 0;
  z-index: 1;
  border-radius: 2px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  font: 400 16px Roboto, Arial, sans-serif;
}
#search-option-panel {
  display:flex;
  flex-direction: row;
}

#searchOptions {
  margin-left: 5px;
  background-color: transparent;
}
.search-option-button {
  height: 30px;
  background-color: white;
  color: #1a73e8;
  border: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  /* padding: 0.5em; */
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
}
.search-option-button.active {
  background-color: #1a73e8;
  color: white;
}
.search-option-button.active:hover{
  background-color: rgb(10, 22, 80);
  color: white;
}
.search-option-button:hover {
  background-color: #eaf3f9;
}

#input-panel {
  display:flex;
  flex-direction: column;
}
#inputText {
  background-color: #fff;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  margin: 5px;
  /* padding: 0 0.5em; */
  font: 400 16px Roboto, Arial, sans-serif;
  overflow: hidden;
  line-height: 30px;
  margin-right: 0;
  width: 60%;   
}
#inputText:hover {
  background-color: #eaf3f9;
}

#nameInputText {
  background-color: #fff;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  margin: 5px;
  /* padding: 0 0.5em; */
  font: 400 16px Roboto, Arial, sans-serif;
  overflow: hidden;
  line-height: 30px;
  margin-right: 0;
  width: 60%;   
  display:none;
}
#nameInputText:hover {
  background-color: #eaf3f9;
}
.alert-p {
  font: 12px;
  margin:5px;
  color: red;
}

#distance-filter-select {
  background-color: #fff;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  margin: 5px;
  padding: 0 0.5em;
  font: 400 16px Roboto, Arial, sans-serif;
  height: 30px;
  cursor: pointer;
  margin-left: 5px;
  width: 25%;
}
#distance-filter-select:hover {
  background-color: #eaf3f9;
}

#search-clear-panel {
  display:flex;
  flex-direction: row;
  margin-bottom:10px;
}
.button {
  background-color: #fff;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  margin: 5px;
  /* padding: 0 0.5em; */
  font: 400 16px Roboto, Arial, sans-serif;
  overflow: hidden;
  height: 30px;
  cursor: pointer;
  margin-left: 5px;
}
.button-primary {
  background-color: #1a73e8;
  color: white;
}
.button-primary:hover {
  background-color: rgb(10, 22, 80);
}
.button-secondary {
  background-color: white;
  color: #1a73e8;
}
.button-secondary:hover {
  background-color: #eaf3f9;
}

.map-container {
  position: relative; /* Change from absolute to relative positioning */
  display: flex;
  flex: 1;
  width: 100%;
  overflow-y: auto;
}
#map {
  flex: 1;
  width:100%;
  
}

#left-panel {
  top:0;
  background-color: #fff;
  width: 40%;
  height:100%;
  display: none; 
  border: 0;
  border-radius: 2px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  font: 400 14px Roboto, Arial, sans-serif;
  order:2;
}
.left-panel-hidden #map {
  right: 0;
}
.HCP-header {
  font: 400 16px Roboto, Arial, sans-serif;
  color: #1a73e8;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  padding: 10px;
}
.HCP-content{
  background-color: #fff;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  overflow-y: auto;
  flex:1;
  padding: 10px 0;
  /* height: calc(100% - 50px); */
  /* margin-top: 40px; */
}
.HCP-card-div {
  margin:0;
  background-color: #fff;
}
.HCP-card-div.active {
  background-color: #eaf3f9;
}
.HCP-detail-div {
  background-color: transparent;
  margin:5px;
}
.HCP-detail-name {
  margin: 0; 
  color: #1a73e8; 
  font: 400 14px Roboto, Arial, sans-serif;
  font-weight: bold;
  background-color: transparent;
}
.HCP-detail p{
  margin: 0; 
  font-size: 12px; 
  background-color: transparent;
}
.HCP-detail {
  margin: 0; 
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 12px; 
  background-color: transparent;
}
.HCP-detail-route {
  margin: 0; 
  margin-top: 5px;
  margin-bottom: 5px;
  display:flex;
  flex-direction: row;
  background-color: transparent;
}
.HCP-detail-dis {
  font-size: 12px; 
  font-weight:bold;
}
.HCP-detail-direction {
  font-size: 12px; 
}





